.Logo{
    background-color: transparent;
}
.logospin {
  position: relative;
  right: 12.5vmin;
  bottom: 16vmin;
  height: 25vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .logospin {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-background{
  position: relative;
  left: 25vmin;
  height: 50vmin;
}

.logo-title{
    position: relative;
    height: 10vmin;
    bottom: 11vmin;
    right: 38vmin;
}
